body {
  margin: 0;
  background-color: #fec746;
  border: 200px solid #3c1642;
}
p {
  padding-right: 15%;
  padding-left: 15%;
}
.zdroje {
  padding-right: 15%;
  padding-left: 15%;
}
.autorství {
  padding-right: 15%;
  padding-left: 15%;
}